<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.user.dao.RoleListDao">
    <update id="setWebRoleStatus" parameterType="java.util.Map">
        update
            maoding_web_project_member task_role
            inner join md_type_web_role_project web_role_type on (task_role.member_type = web_role_type.type_id)
            inner join maoding_web_project_task task on (task.task_status = '0' and (task_role.node_id = task.id or task_role.target_id = task.id))
            inner join maoding_web_project_process_node process on (process.status = '0'
                                                        and process.process_id = task.id
                                                        and process.company_user_id = task_role.company_user_id)
            inner join maoding_web_my_task mytask on (param4 = '0'
                                                        and ((mytask.target_id = process.id) or (mytask.target_id = task.id))
                                                        and find_in_set(mytask.task_type,web_role_type.mytask_task_type))
        <set>
            <choose>
                <when test="statusId != null and statusId == '0'.toString()">
                    task.complete_date = if(web_role_type.is_task_leader,null,task.complete_date),
                    mytask.complete_date = null,
                </when>
                <when test="statusId != null and statusId == '1'.toString()">
                    task.complete_date = if(web_role_type.is_task_leader,date(now()),task.complete_date),
                    mytask.complete_date = date(now()),
                </when>
                <otherwise>
                    task.complete_date = task.complete_date,
                    mytask.complete_date = mytask.complete_date,
                </otherwise>
            </choose>
        </set>
        <where>
            <if test="webRoleId != null and webRoleId != ''.toString()">
                find_in_set(task_role.id,#{webRoleId})
            </if>
        </where>
    </update>
</mapper>
